body{
    background: white;
}

#mainnav {
    font-size: 1.5rem;
    font-weight: 100;
    background: palevioletred;
}

#mainnav .navbar-brand {
   color: white;
   text-decoration: underline;
}

#mainnav .nav-link{
   color: white;
    
}

#mainnav .nav-link:hover{
    color: #EA1C2C;
}

#heading span{
    color: wheat;
}

.card-img-top{
    overflow: hidden;
    height : 20rem!important;
}
